/**
  |============================
  | Hero 
  |============================
*/

.hero {
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-transform: none;
  width: 496px;
  padding-bottom: 36px;
}

/**
  |============================
  |      Concept
  |============================
*/

.concept-list {
  max-width: 768px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.concept-item {
  flex-basis: calc((100% - 24px) / 2);
}

/**
  |============================
  |      TEAM
  |============================
*/

.team-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
}

.team-item {
  flex-basis: calc((100%-24px) / 2);
}

/**
  |============================
  |          Customers
  |============================
*/

.customers-list {
  row-gap: 72px;
  column-gap: 24px;
  margin: 0 auto;
}

.costomers-link {
  width: 168px;
}

/**
  |============================
  |         Portfolio
  |============================
*/

.portfolio {
  padding: 64px 0;
}

.portfolio-button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  justify-content: center;
}

.prj-card-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: flex-start;
}

.item-card {
  width: calc((100% - 24px) / 2);
}
