/* *
  |============================
  |         Header styles
  |============================
*/

/**
  |============================
  | mobile window
  |============================
*/

/* .header-nav {
  background: var(--primary-background);
  border-bottom: 1px solid var(--color-button-portfolio);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  margin: 0 auto;
}

.header-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-button);
  margin-right: 76px;
}
.logo-studio {
  color: var(--background-color);
}

.nav-list-item {
  display: flex;
  padding: 0;
}

.nav-link {
  color: var(--background-color);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: block;
  padding: 24px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--color-button-nav);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-button-nav);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  width: 100%;
  background-color: var(--color-button-nav);
  transform: scaleX(0);
  transition: transform 250ms linear;
  bottom: -1px;
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  transform: scaleX(1);
}

.nav-list-contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.contacts-list-link {
  color: var(--primary-color-text);
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--color-button-nav);
} */

/**
  |============================
  | Hero 
  |============================
*/

.hero {
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-transform: none;
  width: 496px;
  padding-bottom: 36px;
}

/**
  |============================
  |      Concept
  |============================
*/

.concept-list {
  max-width: 768px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.concept-item {
  flex-basis: calc((100% - 24px) / 2);
}

/**
  |============================
  |      TEAM
  |============================
*/

.team-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
}

.team-item {
  flex-basis: calc((100%-24px) / 2);
}

/**
  |============================
  |          Customers
  |============================
*/

.customers-list {
  row-gap: 72px;
  column-gap: 24px;
  margin: 0 auto;
}

.costomers-link {
  width: 168px;
}

/**
  |============================
  |         Portfolio
  |============================
*/

.portfolio {
  padding: 64px 0;
}

.portfolio-button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
  justify-content: center;
}

.prj-card-list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: flex-start;
}

.item-card {
  width: calc((100% - 24px) / 2);
}

/**
  |============================
  |        Footer styles
  |============================
*/

.footer .container {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-logo-web {
  text-align: start;
}

.footer-socials {
  text-align: start;
}

.footer-text {
  text-align: start;
  margin-bottom: 0;
}

.footer-subtitle {
  text-align: start;
  margin-top: 0;
}

.footer-form-input {
  min-width: 264px;
  margin-bottom: 0;
}
.footer-form {
  display: flex;
  gap: 24px;
}

/**
  |============================
  |    Modal window
  |============================
*/

.modal {
  width: 408px;
}
